[renderd]
socketname=/var/run/renderd/renderd.sock
num_threads={{ cpu }}
tile_dir=/work/mod_tile
stats_file=/var/run/renderd/renderd.stats

[mapnik]
plugins_dir=/usr/local/lib/mapnik/input
#font_dir=/usr/local/lib/mapnik/fonts
font_dir=/usr/share/fonts/
font_dir_recurse=1

[default]
URI=/osm_tiles/
TILEDIR=/work/mod_tile
XML=/usr/local/src/openstreetmap-carto/mapnik.xml
HOST={{ ansible_default_ipv4.address }}
TILESIZE=256
